/* Default styles */

body {
  font-family: Tahoma, Arial, sans-serif;
  color: #1C2333;
  background-color: #F8FAFC;
  line-height: 1.6;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  color: #3B82F6;
}

section {
  animation: fadeIn 0.5s ease-in;
}

header section button {
  width: 3rem;
  height: 2rem;
  border: none;
  background: transparent; 
  padding: 0; 
  cursor: pointer;
  outline: none; 

  background-image: var(--flag-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
}

header section button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

header section button:hover {
  transform: scale(1.1);
}

footer {
  color: #4A5164;
  font-size: 0.8rem;
  margin-top: 4rem;
}

nav a {
  color: inherit;
}

nav a.active {
  color: #990000;
}

h1 a {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

ul li {
  margin-bottom: 0.75rem;
}

figure img{
    width: 6rem;
    height: auto;
    object-fit: cover;
    border-radius: 25%;
    border: 0.2rem solid white;
}

figure{
  margin-top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
