/* Default styles */

body {
  font-family: Tahoma, Arial, sans-serif;
  color: #1c1c1c;
  background-color: #c6eeff;
  line-height: 1.6;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  color: #004880;
}

section {
  animation: fadeIn 0.5s ease-in;
}

header button {
  width: 4.5rem;
  height: 3rem;
  border: none;
  background: transparent; 
  padding: 0; 
  cursor: pointer;
  outline: none; 

  background-image: var(--flag-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.15);
}

header button:hover {
  transform: scale(1.1);
}

footer {
  color: #323e48;
}

nav a {
  color: inherit;
}

nav a.active {
  color: #990000;
}

h1 a {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

ul li {
  margin-bottom: 0.75rem;
}

figure img{
    width: 6rem;
    height: auto;
    object-fit: cover;
    border-radius: 25%;
    border: 0.2rem solid white;
}

figure{
  margin-top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
